
@{
    Layout = null;
}

<!DOCTYPE html>
@model IList<Blog.Models.Post>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Lista de Posts</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Resumo</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td><a href="/Home/Visualiza/@p.Id">@p.Titulo</a></td>
                        <td>@p.Resumo</td>
                        <td>@p.Categoria</td>
                        <td><a href="/Home/RemovePost/@p.Id">Remover</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
