@model Blog.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NovoPost</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("AdicionaPost", "Home"))
        {
            @Html.EditorFor(p=>p)

            <button type="submit">Cadastrar</button>
        }
    </div>
    <script src="~/Scripts/jquery-3.2.1.js" />
    <script src="~/Scripts/jquery.validate.js" />
    <script src="~/Scripts/jquery.validate.unobtrusive.js" />
    <script>
        $("form").validate();
    </script>

</body>
</html>
