@model Blog.Models.Post

<div>
    @using (Html.BeginForm("AdicionaPost", "Home"))
    {
        @Html.EditorFor(p => p)

        <button type="submit">Cadastrar</button>
    }
</div>
@section Scripts{
    @Html.Partial("_Scripts")
}

