@model Blog.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visualiza</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("EditaPost", "Home"))
        {
            @Html.HiddenFor(p => p.Id)
            @Html.HiddenFor(p => p.Publicado)
            @Html.HiddenFor(p => p.DataPublicacao)

            @Html.EditorFor(p => p)

            <button type="submit">Editar</button>
        }
    </div>
    <script src="~/Scripts/jquery-3.2.1.js" />
    <script src="~/Scripts/jquery.validate.js" />
    <script src="~/Scripts/jquery.validate.unobtrusive.js" />
    <script>
        $("form").validate();
    </script>
</body>
</html>
