@using (Html.BeginForm())
{
    @Html.Label("Nome do papel:") <br />
    @Html.TextBox("papel", null, new { }) <br />

    @Html.Label("Nome do usuario:") <br />
    @Html.TextBox("usuario", null, new { }) <br />
    <button type="submit">Adiciona papel ao usuario</button>
}
