<aside>
    <div>
        <h3>Buscar</h3>
        @using (Html.BeginForm("Busca", "Home", FormMethod.Get, new { @class = "inline-form" }))
        {
            <div class="input-group">
                @Html.TextBox("termo", null, new { @class = "form-control", placeholder = "Buscar por..." })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Ok</button>
                </span>
            </div>
            <!-- /input-group -->
        }
    </div>
    <div id="categorias">
        <h3>Categorias</h3>
        <!-- aqui serão exibidas links para as categorias do blog -->
    </div>
    <div id="autores">
        <h3>Autores</h3>
        <!-- aqui serão exibidas links para os autores do blog -->
    </div>
</aside>
