@model IList<Blog.Models.Usuario>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h2>Lista de Usuarios</h2>
@Html.ActionLink("Novo Usuario", "Registro", null, new { @class = "btn btn-primary" })
<table class="table table-striped table-hover table-bordered">
    <caption>Lista dos usuários cadastrados no blog.</caption>
    <thead>
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Último Login</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@Html.Encode(item.UltimoLogin)</td>
            </tr>
        }
    </tbody>
</table>
