@model Blog.Models.LoginViewModel

@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.LoginName)
    @Html.TextBoxFor(u => u.LoginName, new { @class = "form-control"})
    @Html.LabelFor(u => u.Password)
    @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
    <button type="submit">Login</button>
}