<aside>
    <h1>Administração</h1>
    <div>
        <ul>
            <li>@Html.ActionLink("Posts", "Index", "Post", new { area = "Admin" }, new { })</li>
            <li>@Html.ActionLink("Usuarios", "Index", "Usuario", new { area = "" }, new { })</li>
        </ul>
    </div>
</aside>
